<configuration>
    <appender name="DB" class="ch.qos.logback.classic.android.SQLiteAppender">
        <!-- maxHistory support added in 1.1.1-6. Cleanup logs older than a week. -->
        <maxHistory>7 days</maxHistory>

        <!-- location of db filename (default is <context database dir>/logback.db) -->
        <filename>${DATA_DIR}/databases/wulkanowy_db.db</filename>

        <!-- customize names of DB/tables/columns -->
        <!--<dbNameResolver class="com.foo.MyDBNameResolver" />-->

        <!-- customize log cleanup (default is to delete log entries older than maxHistory) -->
        <!--<logCleaner class="com.foo.MyLogCleaner" />-->
    </appender>

    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG" >
        <appender-ref ref="DB" />
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>
